<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{admin/common/commonHeader::header('职业管理列表')}"></head>
<body>
    <div th:replace="~{admin/common/nav::loading}"></div>
    <div th:replace="~{admin/common/nav::topFixed}"></div>
    <div th:replace="~{admin/common/nav::sideFixed(1,1)}"></div>
    <div class="content">
        <div class="page-header">
            <h1 class="title">首页</h1>
            <ol class="breadcrumb">
                <li class="active">Welcome to the data management platform of Dietary Cuisine</li>
            </ol>
            <div class="right">
                <div class="btn-group" role="group" aria-label="...">
                    <a href="/common/admin/index" class="btn btn-light">Home</a>
                    <a href="#" class="btn btn-light">
                        <i class="fa fa-refresh"></i>
            </a>
        </div>
    </div>
    </div>
    <div class="container-widget">
            <div class="row">
                <div class="col-md-12 text-center panel">
                    <img src="" th:src="@{/src/images/logo.png}" alt="logo">
                </div>
            </div>
        </div>

        <div th:replace="~{admin/common/nav::copyright}"></div>
    </div>
    <div th:replace="~{admin/common/nav::tabpanel}"></div>
    <div th:replace="~{admin/common/commonFooter::onloadJs}"></div>
</body>
</html>