<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{admin/common/commonHeader::header('商品审核')}"></head>
<body>
<div th:replace="~{admin/common/nav::loading}"></div>
<div th:replace="~{admin/common/nav::topFixed}"></div>
<div th:replace="~{admin/common/nav::sideFixed(7, 2)}"></div>
<div class="content">
    <div class="page-header">
        <h1 class="title">商品审核</h1>
        <ol class="breadcrumb">
            <li class="active">Welcome to the data management platform of Dietary Cuisine</li>
        </ol>
        <div class="right">
            <div class="btn-group" role="group" aria-label="...">
                <a th:href="@{/manage/adm/admin/index}" class="btn btn-light">Home</a>
                <a class="btn btn-light" disabled="disabled">商户管理</a>
                <a class="btn btn-light" disabled="disabled">商品审核</a>
                <a href="javascript:history.go(-1);" class="btn btn-light">
                    <i class="fa fa-reply"></i>
                </a>
                <a href="javascript:location.reload();" class="btn btn-light">
                    <i class="fa fa-refresh"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="container-widget">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-title">
                        审核列表
                    </div>
                    <div class="panel-body table-responsive">
                        <table id="example0" class="table display table-bordered">
                            <thead>
                            <tr>
                                <th>序号</th>
                                <th>商品封面</th>
                                <th>商品名称</th>
                                <th>商品分类</th>
                                <th>商品添加时间</th>
                                <th>审核状态</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tfoot>
                            <tr>
                                <th>序号</th>
                                <th>商品封面</th>
                                <th>商品名称</th>
                                <th>商品分类</th>
                                <th>商品添加时间</th>
                                <th>审核状态</th>
                                <th>操作</th>
                            </tr>
                            </tfoot>
                            <tbody>
                            <tr th:each="item,status:${list.item}">
                                <td th:text="${status.index+1}"></td>
                                <td>
                                    <img style="height: 100px;width: 100px;" th:src="(${fileServerPath})+${item.fCover}" alt="">
                                </td>
                                <td width="30%" th:text="${item.fName}"></td>
                                <td th:text="${item.fCategory}"></td>
                                <td th:text="${item.fAddtime}"></td>
                                <td>
                                    <span th:text="${item.fReview}" th:class="'label label-'+${item.fReview=='审核成功'?'success':(item.fReview=='审核失败'?'danger':'warning')}+' state'+${item.fId}"></span>
                                </td>
                                <td>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-light">商品审批</button>
                                        <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                            <span class="caret"></span>
                                            <span class="sr-only">Toggle Dropdown</span>
                                        </button>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="javascript:" data-state="审核成功" th:data-id="${item.fId}" class="receive">通过</a></li>
                                            <li><a href="javascript:" data-state="审核失败" class="refuse" th:data-id="${item.fId}">未通过</a></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="~{admin/common/nav::copyright}"></div>
</div>
<div th:replace="~{admin/common/nav::tabpanel}"></div>
<div th:replace="~{admin/common/commonFooter::onloadJs}"></div>
</body>
<script th:src="@{/src/js/merchant/review/productReview.js}"></script>
</html>