<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smxy.recipe.dao.ArticleDao">

    <insert id="saveInfo" parameterType="Article">
        insert into t_food_article (f_name, f_content, f_uid, f_cover, f_type, f_release)
        values (#{fName}, #{fContent}, #{fUid}, #{fCover}, #{fType},#{fRelease});
    </insert>

</mapper>