<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smxy.recipe.dao.CollectDao">
    <insert id="saveInfo" parameterType="Collect">
        insert into t_common_collect (f_uid, f_rid, f_type) values (#{fUid}, #{fRid}, #{fType});
    </insert>

    <delete id="deleteInfo" parameterType="Collect">
        delete from t_common_collect where f_rid=#{fRid} and f_uid=#{fUid} and f_type=#{fType};
    </delete>

    <select id="findByAllBrief" parameterType="Collect" resultType="Collect">
        select * from t_common_collect where f_rid=#{fRid} and f_uid=#{fUid} and f_type=#{fType};
    </select>

    <select id="getCountByRidAndTypeForRecipe" parameterType="Integer" resultType="Integer">
        select count(*) from t_common_collect where f_rid=#{fRid} and f_type=1;
    </select>

    <select id="getCountByRidAndTypeForArticle" parameterType="Integer" resultType="Integer">
        select count(*) from t_common_collect where f_rid=#{fRid} and f_type=2;
    </select>

</mapper>