<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smxy.recipe.dao.CommonUserDao">

	<select id="getUsernameById" parameterType="Integer" resultType="String">
		select f_username from t_common_user where f_id=#{fId};
	</select>

    <select id="isUser" parameterType="CommonUser" resultType="CommonUser">
		select * from t_common_user where f_account=#{fAccount};
	</select>
    <select id="isLogin" parameterType="CommonUser" resultMap="getUserDetail">
		select * from t_common_user where f_account=#{fAccount} and
		f_password=#{fPassword};
	</select>
    <resultMap type="CommonUser" id="getUserDetail">
		<result property="fId" column="f_id" />
        <result property="fPid" column="f_pid" />
        <association property="profession" column="f_pid"
			select="com.smxy.recipe.dao.ProfessionDao.getOneById">
		</association>
		<collection property="recipes" column="f_id"
					select="com.smxy.recipe.dao.RecipeDao.getInfoByUidBrief">
		</collection>
		<collection property="articles" column="f_id"
					select="com.smxy.recipe.dao.ArticleDao.findInfoByUidBrief">
		</collection>
    </resultMap>
	
	<select id="getInfoByIdBrief" parameterType="Integer" resultType="CommonUser">
		select * from t_common_user where f_id=#{fId};
	</select>

    <insert id="saveUser" parameterType="CommonUser"
            useGeneratedKeys="true" keyProperty="fId">
		insert into
		t_common_user(f_account,f_password)
		values(#{fAccount},#{fPassword});
	</insert>

    <update id="updateUserInfo" parameterType="CommonUser">
		update t_common_user
		set
		f_username=#{fUsername},f_province=#{fProvince},f_city=#{fCity},f_area=#{fArea},f_cover=#{fCover},f_sex=#{fSex},f_sign=#{fSign},f_pid=#{fPid}
		where f_id=#{fId};
	</update>

	<select id="getInfoAll" resultMap="getUserDetail">
		select * from t_common_user order by f_id ASC;
	</select>

	<update id="updatePwdByAccount" parameterType="CommonUser">
		update t_common_user set f_password=#{fPassword} where f_id=#{fId};
	</update>

	<update id="updateUserHead" parameterType="CommonUser">
		update t_common_user set f_cover=#{fCover} where f_id=#{fId};
	</update>

	<update id="updateUserBg" parameterType="CommonUser">
		update t_common_user set f_bg=#{fBg} where f_id=#{fId};
	</update>

	<select id="getInfoById" parameterType="Integer" resultType="CommonUser">
		select * from t_common_user where f_id=#{fId};
	</select>

	<select id="peopleInfoDetail" resultMap="peopleInfoDetailResultMap" parameterType="Integer">
		select * from t_common_user where f_id=#{fId};
	</select>

	<resultMap type="CommonUser" id="peopleInfoDetailResultMap">
		<result property="fPid" column="f_pid" />
		<result property="fId" column="f_id" />
		<association property="profession" column="f_pid"
					 select="com.smxy.recipe.dao.ProfessionDao.getOneById">
		</association>
		<collection property="recipes" column="f_id"
					select="com.smxy.recipe.dao.RecipeDao.getInfoByUidBrief">
		</collection>
		<collection property="articles" column="f_id"
					select="com.smxy.recipe.dao.ArticleDao.findInfoByUidBrief">
		</collection>
		<collection property="collectCount" column="f_id"
					select="com.smxy.recipe.dao.CollectDao.getCountByUid">
		</collection>
	</resultMap>
</mapper>