<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smxy.recipe.dao.CommonChatDao">
    <insert id="saveInfo" parameterType="CommonChat" keyProperty="fId" useGeneratedKeys="true">
        insert into t_common_chat (f_content, f_release, f_uid, f_oid, f_state, f_url, f_type, f_long)
        values (#{fContent}, #{fRelease}, #{fUid}, #{fOid}, #{fState}, #{fUrl}, #{fType}, #{fLong});
    </insert>

    <select id="findInfoByUidAndOid" resultType="CommonChat">
        select * from t_common_chat where
        (f_uid=#{fUid} and f_oid=#{fOid});
    </select>

    <update id="changeChatReadState">
        UPDATE t_common_chat SET f_state=#{state} WHERE f_uid=#{oid} AND f_oid=#{uid};
    </update>

    <select id="queryUnreadCount" resultType="integer">
        SELECT COUNT(*) FROM t_common_chat WHERE f_uid=#{oid} AND f_oid=#{uid} AND f_state=0;
    </select>

</mapper>