<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smxy.recipe.dao.Common_userDao">
    <select id="isUser" parameterType="Common_user" resultType="int">
		select count(*) from t_common_user where f_account=#{f_account};
	</select>
    <select id="isLogin" parameterType="Common_user" resultMap="getUserDetail">
		select * from t_common_user where f_account=#{f_account} and
		f_password=#{f_password};
	</select>
    <resultMap type="Common_user" id="getUserDetail">
        <result property="f_pid" column="f_pid" />
        <association
			property="profession" column="f_pid"
			select="getProfessionInfo">
		</association>
    </resultMap>
    <select id="getProfessionInfo" resultType="Profession"
            parameterType="Common_user">
		select * from t_common_profession where f_id=#{f_pid};
	</select>

    <insert id="saveUser" parameterType="Common_user"
            useGeneratedKeys="true" keyProperty="f_id">
		insert into
		t_common_user(f_account,f_password)
		values(#{f_account},#{f_password});
	</insert>

    <update id="updateUserInfo" parameterType="Common_user">
		update t_common_user
		set
		f_username=#{f_username},f_province=#{f_province},f_city=#{f_city},f_area=#{f_area},f_cover=#{f_cover},f_sex=#{f_sex},f_sign=#{f_sign},f_pid=#{f_pid}
		where f_id=#{f_id};
	</update>
</mapper>