<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smxy.recipe.dao.MerchantProductFreightDao">
    <select id="getAllMerchantProductFreight" resultType="com.smxy.recipe.entity.MerchantProductFreight">
        SELECT * FROM t_product_freight ORDER BY f_id ASC ;
    </select>
    <select id="getMerchantProductFreightById" parameterType="Integer" resultType="com.smxy.recipe.entity.MerchantProductFreight">
        SELECT * FROM t_product_freight WHERE f_id = #{fId};
    </select>
</mapper>