<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smxy.recipe.dao.MerchantChatDao">

    <select id="queryMessage" parameterType="MerchantChat" resultType="MerchantChat">
        SELECT * FROM t_merchant_chat WHERE f_user=#{fUser} and f_oid=#{fOid} and f_uid=#{fUid};
    </select>
    
    <update id="updateMessageState" parameterType="MerchantChat">
        UPDATE t_merchant_chat SET f_state=#{fState} WHERE f_uid=#{fUid} AND f_oid=#{fOid} AND f_user=#{fUser};
    </update>

    <insert id="insertMessage" parameterType="MerchantChat">
        INSERT INTO t_merchant_chat (f_content, f_release, f_uid, f_oid, f_state, f_url, f_type, f_user, f_datetime)
        VALUES (#{fContent}, #{fRelease}, #{fUid}, #{fOid}, #{fState}, #{fUrl}, #{fType}, #{fUser}, #{fDatetime});
    </insert>

    <select id="queryUnreadCount" resultType="integer">
        SELECT COUNT(*) FROM t_merchant_chat WHERE f_uid=#{oid} AND f_oid=#{uid} AND f_state=0 AND f_user=#{user};
    </select>

</mapper>