<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smxy.recipe.dao.MerchantProductImageDao">
    <insert id="saveProductImage" parameterType="com.smxy.recipe.entity.MerchantProductImage" useGeneratedKeys="true"
            keyProperty="fId">
        INSERT INTO t_product_images (f_pid, f_img)
        VALUES (#{fPid}, #{fImg});
    </insert>

    <delete id="deleteProductImageByfPid" parameterType="Integer">
        DELETE
        FROM t_product_images
        WHERE f_pid = #{fPid};
    </delete>

    <delete id="deleteProductImageByFId" parameterType="Integer">
        DELETE
        FROM t_product_images
        WHERE f_id = #{fId};
    </delete>

    <select id="getProductByfPid" parameterType="Integer" resultType="com.smxy.recipe.entity.MerchantProductImage">
        SELECT *
        FROM t_product_images
        WHERE f_pid = #{fPid};
    </select>

    <select id="getProductImageId" resultType="Integer">
        SELECT f_id
        FROM t_product_images
        WHERE f_pid = #{fPid};
    </select>
</mapper>