<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smxy.recipe.dao.MerchantProductDao">
    <select id="getAllProductShelve" resultMap="getMerchantProductDetails">
        SELECT *
        FROM t_merchant_product
        WHERE f_state = '上架'
        AND f_review = '审核成功'
        ORDER BY f_id ASC;
    </select>
    <select id="getAllProduct" resultMap="getMerchantProductDetails">
        SELECT *
        FROM t_merchant_product
        ORDER BY f_id ASC;
    </select>

    <resultMap id="getMerchantProductDetails" type="com.smxy.recipe.entity.MerchantProduct">
        <result property="fId" column="f_id"/>
        <result property="fMarqueclaid" column="f_marqueclaid"/>
        <collection
                property="merchantProductMarques" column="{fMarqueclaid=f_marqueclaid,fPid=f_id}"
                select="com.smxy.recipe.dao.MerchantProductMarqueDao.getMarqueByClassifyIdAndProductId">
        </collection>
        <collection
                property="merchantProductDetails" column="f_id"
                select="com.smxy.recipe.dao.MerchantProductDetailsDao.getProductDetailsByPid">
        </collection>
        <collection property="productActiveReduction" column="f_id"
                    select="com.smxy.recipe.dao.ProductActiveReductionDao.selectActiveReductionByPid">
        </collection>
        <collection property="productActiveDiscount" column="f_id"
                    select="com.smxy.recipe.dao.ProductActiveDiscountDao.selectProductActiveDiscountByPId">
        </collection>
    </resultMap>

    <select id="getProductById" parameterType="Integer" resultMap="getMerchantProductDetails">
        SELECT *
        FROM t_merchant_product
        WHERE f_id = #{fId};
    </select>

    <delete id="deleteProductByFId" parameterType="Integer">
        DELETE
        FROM t_merchant_product
        WHERE f_id = #{fId};
    </delete>

    <update id="updateProductStatusById">
        UPDATE t_merchant_product
        SET f_state = #{fState}
        WHERE f_id = #{fId};
    </update>
    
    <update id="updateProductReviewById">
        UPDATE t_merchant_product SET f_review = #{fReview} WHERE f_id = #{fId};
    </update>

    <update id="updateProductInfo" parameterType="com.smxy.recipe.entity.MerchantProduct">
        UPDATE t_merchant_product
        SET f_name        = #{fName},
            f_cover       = #{fCover},
            f_category    = #{fCategory},
            f_marqueclaid = #{fMarqueclaid},
            f_freightid   = #{fFreightid}
        WHERE f_id = #{fId}
    </update>

    <update id="updateProductActiveDiscount" parameterType="Map">
        UPDATE t_merchant_product
        SET f_discount = #{fActive}
        WHERE f_id = #{fId}
    </update>

    <update id="updateProductActiveReduction" parameterType="Map">
        UPDATE t_merchant_product
        SET f_reduction = #{fActive}
        WHERE f_id = #{fId}
    </update>

    <insert id="saveProductInfo" parameterType="com.smxy.recipe.entity.MerchantProduct" keyProperty="fId"
            useGeneratedKeys="true">
        INSERT INTO t_merchant_product (f_name,
                                        f_cover,
                                        f_good,
                                        f_category,
                                        f_state,
                                        f_sales,
                                        f_marqueclaid,
                                        f_addtime,
                                        f_grosssales,
                                        f_freightid,
                                        f_review,
                                        f_discount,
                                        f_reduction)
        VALUES (#{fName},
                #{fCover},
                #{fGood},
                #{fCategory},
                #{fState},
                #{fSales},
                #{fMarqueclaid},
                #{fAddtime},
                #{fGrosssales},
                #{fFreightid},
                #{fReview},
                #{fDiscount},
                #{fReduction});
    </insert>

    <select id="getProductByClaid" parameterType="String" resultMap="getMerchantProductDetails">
        SELECT *
        FROM t_merchant_product
        where f_state = '上架'
          and f_review = '审核成功'
          and f_category = #{claName};
    </select>
</mapper>
