<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smxy.recipe.dao.MerchantUserDao">

    <resultMap id="getMerchantUserDetails" type="com.smxy.recipe.entity.MerchantUser">
        <result property="fId" column="f_id"/>
        <collection
                property="adminUserRoles" column="f_id"
                select="com.smxy.recipe.dao.MerchantUserRoleDao.getMerchantUserRoleByFmid">
        </collection>
        <collection property="merchantProducts" column="f_id"
                    select="com.smxy.recipe.dao.MerchantUserProductDao.getMerchantUserProductByMid">
        </collection>
    </resultMap>

    <select id="getMerchantUserByIdBrief" parameterType="Integer" resultType="com.smxy.recipe.entity.MerchantUser">
        SELECT * FROM t_merchant_user WHERE f_id=#{fId};
    </select>

    <select id="getMerchantUserById" parameterType="Integer" resultMap="getMerchantUserDetails">
        SELECT *
        FROM t_merchant_user
        WHERE f_id = #{fId};
    </select>

    <select id="isMerchantUser" parameterType="String" resultMap="getMerchantUserDetails">
        SELECT *
        FROM t_merchant_user
        WHERE f_account = #{fAccount};
    </select>

    <select id="isAccount" parameterType="String" resultType="Integer">
        SELECT COUNT(*)
        FROM t_merchant_user
        WHERE f_account = #{fAccount};
    </select>

    <select id="isLogin" parameterType="MerchantUser" resultType="Integer">
        SELECT *
        FROM t_merchant_user
        WHERE f_account = #{fAccount}
          AND f_password = #{fPassword};
    </select>

    <delete id="deleteUser" parameterType="Integer">
        DELETE
        FROM t_merchant_user
        WHERE f_id = #{fId};
    </delete>

    <insert id="saveUserInfo" parameterType="MerchantUser" useGeneratedKeys="true" keyProperty="fId">
        INSERT INTO t_merchant_user (f_shopname, f_account, f_password, f_birth, f_province, f_city, f_area, f_cover)
        values (#{fShopname}, #{fAccount}, #{fPassword}, #{fBirth}, #{fProvince}, #{fCity}, #{fArea}, #{fCover});
    </insert>

    <update id="updateMerchantUserCoverAndShopName" parameterType="MerchantUser">
        UPDATE t_merchant_user
        SET f_shopname = #{fShopname},
            f_cover    = #{fCover}
        WHERE f_id = #{fId};
    </update>

    <update id="updateUserCoverById" parameterType="Map">
        UPDATE t_merchant_user
        SET f_cover = #{fCover}
        WHERE f_id = #{fId}
    </update>

    <update id="updateMerchantUserInfo" parameterType="com.smxy.recipe.entity.MerchantUser">
        UPDATE t_merchant_user
        SET f_shopname  = #{fShopname},
            f_province  = #{fProvince},
            f_city      = #{fCity},
            f_area      = #{fArea},
            f_street    = #{fStreet},
            f_signature = #{fSignature}
        WHERE f_id = #{fId}
    </update>

    <update id="updateMerchantUserPasswordById" parameterType="Map">
        UPDATE t_merchant_user
        SET f_password = #{fPassword}
        WHERE f_id = #{fId}
    </update>

    <select id="getMerchantIdByAccount" parameterType="String" resultType="Integer">
        SELECT f_id
        FROM t_merchant_user
        WHERE f_account LIKE #{fAccount};
    </select>

    <select id="getMerchantUserByAccount" parameterType="string" resultType="com.smxy.recipe.entity.MerchantUser">
        SELECT * FROM t_merchant_user WHERE f_account = #{account};
    </select>


</mapper>