<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smxy.recipe.dao.MerchantProductDetailsDao">
    <insert id="saveProductDetailsInfo" parameterType="com.smxy.recipe.entity.MerchantProductDetails">
        INSERT INTO t_product_details (f_pid, f_detailimg, f_detailcontents)
        VALUES (#{fPid}, #{fDetailimg}, #{fDetailcontents});
    </insert>

    <delete id="deleteProductDetailsByFPid" parameterType="Integer">
        DELETE
        FROM t_product_details
        WHERE f_pid = #{fPid};
    </delete>
</mapper>