<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smxy.recipe.dao.MerchantProductMarqueDao">
    <select id="getMarqueByClassifyIdAndProductId" parameterType="Map"
            resultType="com.smxy.recipe.entity.MerchantProductMarque">
        SELECT *
        FROM t_product_marque
        WHERE f_marqueclaid = #{fMarqueclaid}
          AND f_pid = #{fPid}
        ORDER BY f_price ASC;
    </select>

    <insert id="saveMarqueInfo" parameterType="com.smxy.recipe.entity.MerchantProductMarque" keyProperty="fId"
            useGeneratedKeys="true">
        INSERT INTO t_product_marque (f_marquename, f_marqueimage, f_price, f_repository, f_marqueclaid, f_pid)
        VALUES (#{fMarquename}, #{fMarqueimage}, #{fPrice}, #{fRepository}, #{fMarqueclaid}, #{fPid});
    </insert>

    <delete id="deleteMarqueByFPid" parameterType="Integer">
        DELETE
        FROM t_product_marque
        WHERE f_pid = #{fPid};
    </delete>

    <delete id="deleteMarqueByFId" parameterType="Integer">
        DELETE
        FROM t_product_marque
        WHERE f_id = #{fId};
    </delete>

    <update id="updateMarqueInfo" parameterType="com.smxy.recipe.entity.MerchantProductMarque">
        UPDATE t_product_marque
        SET f_marqueclaid = #{fMarqueclaid},
            f_marquename  = #{fMarquename},
            f_marqueimage = #{fMarqueimage},
            f_price       = #{fPrice},
            f_repository  = #{fRepository}
        WHERE f_id = #{fId}
    </update>

    <select id="getMarqueImagePathById" parameterType="Integer" resultType="String">
        SELECT f_marqueimage
        FROM t_product_marque
        WHERE f_id = #{fId};
    </select>

    <select id="getMarqueId" parameterType="Integer" resultType="Integer">
        SELECT f_id
        FROM t_product_marque
        WHERE f_pid = #{fPid};
    </select>
</mapper>