<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smxy.recipe.dao.ProcessDao">
    <insert id="saveInfo" parameterType="Process">
        insert into t_food_process (f_rid, f_content, f_request, f_cover) values (#{fRid}, #{fContent}, #{fRequest}, #{fCover});
    </insert>
    <select id="getInfoByRid" parameterType="Integer" resultType="Process">
        select * from t_food_process where f_rid=#{fRid};
    </select>
    <delete id="deleteInfoByRid" parameterType="Integer">
        delete from t_food_process where f_rid=#{fRid};
    </delete>

    <update id="updateVoiceById" parameterType="Process">
        update t_food_process set f_voice=#{fVoice} where f_id=#{fId};
    </update>

</mapper>