<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smxy.recipe.dao.ProductActiveDiscountDao">

    <insert id="insertProductActiveDiscount" parameterType="com.smxy.recipe.entity.ProductActiveDiscount" useGeneratedKeys="true" keyProperty="fId">
        INSERT INTO t_product_discounts (f_name, f_start_time, f_end_time, f_discount, f_number, f_pid, f_mid)
        VALUES (#{fName}, #{fStartTime}, #{fEndTime}, #{fDiscount}, #{fNumber}, #{fPid}, #{fMid});
    </insert>

    <delete id="deleteProductActiveDiscount" parameterType="Integer">
        DELETE FROM t_product_discounts WHERE f_id = #{fId};
    </delete>

</mapper>