<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smxy.recipe.dao.ProfessionDao">
    <select id="findAll" resultType="Profession">
		select * from t_common_profession order by f_id ASC;
	</select>
</mapper>