<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smxy.recipe.dao.RecipeDao">
    <insert id="saveInfo" parameterType="Recipe" useGeneratedKeys="true" keyProperty="fId">
        insert into t_food_recipe (f_name, f_uid, f_release, f_cover, f_introduction, f_type, f_fire) values (#{fName}, #{fUid}, #{fRelease}, #{fCover}, #{fIntroduction}, #{fType}, #{fFire})
    </insert>

    <select id="getAllInfo" resultMap="getRecipeDetail">
        select * from t_food_recipe order by f_id ASC;
    </select>

    <select id="getAllInfoBre" resultMap="getRecipeAuthor">
        select * from t_food_recipe order by f_id ASC;
    </select>

    <resultMap id="getRecipeAuthor" type="Recipe">
        <result column="f_uid" property="fUid"/>
        <result column="f_id" property="fId"/>
        <association property="commonUser" column="f_uid"
                     select="com.smxy.recipe.dao.CommonUserDao.getInfoByIdBrief">
        </association>
        <collection property="fGood" column="f_id"
                    select="com.smxy.recipe.dao.CollectDao.getCountByRidAndTypeForRecipe">
        </collection>
    </resultMap>

    <select id="getInfoById" resultMap="getRecipeDetail" parameterType="Integer">
        select * from t_food_recipe where f_id=#{fId};
    </select>

    <resultMap id="getRecipeDetail" type="Recipe">
        <result column="f_id" property="fId"/>
        <result column="f_uid" property="fUid"/>
        <association property="commonUser" column="f_uid"
                    select="com.smxy.recipe.dao.CommonUserDao.getInfoByIdBrief">
        </association>
        <collection property="recipeClassifies" column="f_id"
                    select="com.smxy.recipe.dao.RecipeClassifyDao.getInfoByRid">
        </collection>
        <collection property="recipeTips" column="f_id"
                    select="com.smxy.recipe.dao.RecipeTipsDao.getInfoByRid">
        </collection>
        <collection property="recipeMaterials" column="f_id"
                    select="com.smxy.recipe.dao.RecipeMaterialDao.getInfoByRid">
        </collection>
        <collection property="processes" column="f_id"
                    select="com.smxy.recipe.dao.ProcessDao.getInfoByRid">
        </collection>
        <collection property="fGood" column="f_id"
                    select="com.smxy.recipe.dao.CollectDao.getCountByRidAndTypeForRecipe">
        </collection>
    </resultMap>
    <delete id="deleteInfoById" parameterType="Integer">
        delete from t_food_recipe where f_id=#{fId};
    </delete>
    <update id="updateInfoById" parameterType="Recipe">
        update t_food_recipe set f_cover=#{fCover},f_introduction=#{fIntroduction},f_name=#{fName},f_fire=#{fFire} where f_id=#{fId};
    </update>

    <update id="updateRecipeCount" parameterType="Integer">
        update t_food_recipe set f_count=#{fCount} where f_id=#{fId};
    </update>
</mapper>