<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smxy.recipe.dao.RecipeMaterialDao">
    <insert id="saveInfo" parameterType="RecipeMaterial">
        insert into t_food_recipe_material (f_rid, f_mid, f_number, f_name) values (#{fRid}, #{fMid}, #{fNumber}, #{fName});
    </insert>
    <select id="getInfoByRid" parameterType="Integer" resultMap="getRecipeMaterialDetail">
        select * from t_food_recipe_material where f_rid=#{fRid};
    </select>
    <resultMap id="getRecipeMaterialDetail" type="RecipeMaterial">
        <result column="f_mid" property="fMid"/>
        <association property="material" column="f_mid"
                    select="com.smxy.recipe.dao.MaterialDao.getInfoById">
        </association>
    </resultMap>
    <delete id="deleteInfoByRid" parameterType="Integer">
        delete from t_food_recipe_material where f_rid=#{fRid};
    </delete>
    <select id="getInfoByMid" parameterType="Integer" resultMap="getInfoByMidResultMap">
        select distinct * from t_food_recipe_material where f_mid=#{fMid};
    </select>
    <resultMap id="getInfoByMidResultMap" type="RecipeMaterial">
        <result column="f_mid" property="fMid" />
        <result column="f_rid" property="fRid" />
        <association property="material" column="f_mid"
                     select="com.smxy.recipe.dao.MaterialDao.getInfoById">
        </association>
        <association property="recipe" column="f_rid"
                    select="com.smxy.recipe.dao.RecipeDao.getInfoById">
        </association>
    </resultMap>
</mapper>