<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smxy.recipe.dao.RecipeClassifyDao">
    <insert id="saveInfo" parameterType="RecipeClassify">
        insert into t_food_recipe_classify (f_rid,f_two_id,f_three_id) values (#{fRid}, #{fTwoId}, #{fThreeId});
    </insert>

    <select id="getInfoByRid" parameterType="Integer" resultMap="getRecipeClassifyDetail">
        select * from t_food_recipe_classify where f_rid=#{fRid};
    </select>

    <resultMap id="getRecipeClassifyDetail" type="RecipeClassify">
        <result column="f_two_id" property="fTwoId"/>
        <result column="f_three_id" property="fThreeId"/>
        <association property="classifyTwo" column="f_two_id"
                select="com.smxy.recipe.dao.ClassifyTwoDao.getInfoById">
        </association>
        <association property="classify" column="f_three_id"
                select="com.smxy.recipe.dao.ClassifyDao.getInfoById">
        </association>
    </resultMap>

    <resultMap id="getRecipeDetail" type="RecipeClassify">
        <result column="f_rid" property="fRid"/>
        <association property="recipe" column="f_rid"
                select="com.smxy.recipe.dao.RecipeDao.getInfoById">
        </association>
    </resultMap>

    <select id="getInfoByThreeIdForRecipe" parameterType="Integer" resultMap="getRecipeDetail">
        select distinct * from t_food_recipe_classify where f_three_id=#{fThreeId};
    </select>

    <select id="getInfoByTwoIdForRecipe" parameterType="Integer" resultMap="getRecipeDetail">
        select distinct * from t_food_recipe_classify where f_two_id=#{fTwoId};
    </select>

    <select id="getInfoByThreeIdNextForRecipe" parameterType="Integer" resultMap="getRecipeDetail">
        select * from t_food_recipe_classify,t_food_classify
        where f_three_id=t_food_classify.f_id and t_food_classify.f_tid=#{fTwoId};
    </select>

    <delete id="deleteInfoByRid" parameterType="Integer">
        delete from t_food_recipe_classify where f_rid=#{fRid};
    </delete>
</mapper>