<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smxy.recipe.dao.RecipeClassifyDao">
    <insert id="saveInfo" parameterType="RecipeClassify">
        insert into t_food_recipe_classify (f_rid,f_two_id,f_three_id) values (#{fRid}, #{fTwoId}, #{fThreeId});
    </insert>
</mapper>