<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smxy.recipe.dao.RecipeDao">
    <insert id="saveInfo" parameterType="Recipe" useGeneratedKeys="true" keyProperty="fId">
        insert into t_food_recipe (f_author, f_release, f_cover, f_introduction, f_type, f_fire) values (#{fAuthor}, #{fRelease}, #{fCover}, #{fIntroduction}, #{fType}, #{fFire})
    </insert>
</mapper>