<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smxy.recipe.dao.RecipeMaterialDao">
    <insert id="saveInfo" parameterType="RecipeMaterial">
        insert into t_food_recipe_material (f_rid, f_mid, f_number) values (#{fRid}, #{fMid}, #{fNumber});
    </insert>
</mapper>