<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smxy.recipe.dao.SensorUnusualDao">

    <insert id="saveInfo" parameterType="SensorUnusual">
        insert into t_sensor_unusual (f_uid, f_date, f_time, f_normal, f_unusual, f_process, f_type)
        values (#{fUid}, #{fDate}, #{fTime}, #{fNormal}, #{fUnusual}, #{fProcess}, #{fType});
    </insert>

    <select id="getInfoAll" resultType="SensorUnusual">
        select * from t_sensor_unusual order by f_id DESC;
    </select>

    <select id="getInfoByUidAndTypeAndDate" parameterType="SensorUnusual" resultType="SensorUnusual">
        select * from t_sensor_unusual where f_uid=#{fUid} and f_type=#{fType} and f_date=#{fDate} order by f_id DESC;
    </select>

</mapper>