<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smxy.recipe.dao.TipsDao">
    <select id="getAllInfo" resultType="Tips">
        select * from t_food_tips order by f_id ASC;
    </select>
    <select id="getInfoByName" parameterType="String" resultType="Tips">
        select * from t_food_tips where f_name=#{fName};
    </select>
    <insert id="saveInfo" parameterType="Tips">
        insert into t_food_tips (f_name,f_bg,f_color) values (#{fName},#{fBg},#{fColor});
    </insert>

    <delete id="deleteInfo" parameterType="Integer">
        delete from t_food_tips where f_id=#{fId};
    </delete>

    <select id="getInfoById" parameterType="Integer" resultType="Tips">
        select * from t_food_tips where f_id=#{fId};
    </select>

    <update id="updateInfo" parameterType="Tips">
        update t_food_tips set f_name=#{fName} where f_id=#{fId};
    </update>
</mapper>