<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{admin/common/commonHeader::header('用户管理')}"></head>
<body>
<div th:replace="~{admin/common/nav::loading}"></div>
<div th:replace="~{admin/common/nav::topFixed}"></div>
<div th:replace="~{admin/common/nav::sideFixed(6,1)}"></div>
<div class="content">
    <div class="page-header">
        <h1 class="title">用户信息管理</h1>
        <ol class="breadcrumb">
            <li class="active">Welcome to the data management platform of Dietary Cuisine</li>
        </ol>
        <div class="right">
            <div class="btn-group" role="group" aria-label="...">
                <a th:href="@{/adm/admin/index}" class="btn btn-light">Home</a>
                <a class="btn btn-light" disabled="disabled">用户管理</a>
                <a class="btn btn-light" disabled="disabled">用户信息管理</a>
                <a href="javascript:history.go(-1);" class="btn btn-light">
                    <i class="fa fa-reply"></i>
                </a>
                <a href="javascript:location.reload();" class="btn btn-light">
                    <i class="fa fa-refresh"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="container-widget">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-title">
                        信息列表
                        <a type="button" th:href="@{/profession/toAdd}" class="btn btn-info"
                           style="float: right;color: #ffffff;">新增用户</a>
                        <div style="float: right;height: 34px;line-height: 34px;margin-right: 20px;">
                            Sensors State：
                            <span class="label" style="background-color: #cccccc;">Unuse</span>&nbsp;
                            <span class="label label-default">Using</span>
                        </div>
                    </div>
                    <div class="panel-body table-responsive">

                        <table id="example0" class="table display table-bordered">
                            <thead>
                            <tr>
                                <th>序号</th>
                                <th>头像</th>
                                <th>用户名</th>
                                <th>性别</th>
                                <th>职业</th>
                                <th>监控</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tfoot>
                            <tr>
                                <th>序号</th>
                                <th>头像</th>
                                <th>用户名</th>
                                <th>性别</th>
                                <th>职业</th>
                                <th>监控</th>
                                <th>操作</th>
                            </tr>
                            </tfoot>
                            <tbody>
                            <tr th:each="item,status:${list.data}">
                                <td th:text="${status.index+1}"></td>
                                <td>
                                    <img style="width: 50px;height: 50px;border-radius: 50%;" th:src="${item.fCover} != null ? (${fileServerPath})+${item.fCover} :
                                    (${item.fSex} == '男' ? @{/src/images/man.png}:@{/src/images/woman.png})" alt="">
                                </td>
                                <td th:text="${item.fUsername}"></td>
                                <td th:text="${item.fSex}"></td>
                                <td th:text="${item.profession} == null?'未设定':${item.profession.fName}"></td>
                                <td>
                                    <span class="label label-default label-custom-bg fireMonitor" th:data-id="${item.fId}">Fire</span>
                                    <span class="label label-default label-custom-bg smogMonitor" th:data-id="${item.fId}">Smog</span>
                                </td>
                                <td>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-light">更多资料</button>
                                        <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                            <span class="caret"></span>
                                            <span class="sr-only">Toggle Dropdown</span>
                                        </button>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a th:href="@{/commonUser/monitor/}+${item.fId}">监控中心</a></li>
                                            <li class="divider"></li>
                                            <li><a href="javascript:;">编辑</a></li>
                                            <li><a href="javascript:;" class="deleteInfo">删除</a></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="~{admin/common/nav::copyright}"></div>
</div>
<div th:replace="~{admin/common/nav::tabpanel}"></div>
<div th:replace="~{admin/common/commonFooter::onloadJs}"></div>
</body>
<script th:src="@{/src/js/commonUser/list.js}"></script>
</html>