<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{admin/common/commonHeader::header('二级食谱分类')}"></head>
<body>
<div th:replace="~{admin/common/nav::loading}"></div>
<div th:replace="~{admin/common/nav::topFixed}"></div>
<div th:replace="~{admin/common/nav::sideFixed(4,2)}"></div>
<div class="content">
    <div class="page-header">
        <h1 class="title">二级食谱分类</h1>
        <ol class="breadcrumb">
            <li class="active">Welcome to the data management platform of Dietary Cuisine</li>
        </ol>
        <div class="right">
            <div class="btn-group" role="group" aria-label="...">
                <a th:href="@{/manage/adm/admin/index}" class="btn btn-light">Home</a>
                <a class="btn btn-light" disabled="disabled">食谱资料管理</a>
                <a class="btn btn-light" disabled="disabled">二级食谱分类</a>
                <a href="javascript:history.go(-1);" class="btn btn-light">
                    <i class="fa fa-reply"></i>
                </a>
                <a href="javascript:location.reload();" class="btn btn-light">
                    <i class="fa fa-refresh"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="container-widget">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-title">
                        信息列表
                        <a type="button" th:href="@{/manage/claTwo/add}" class="btn btn-info"
                           style="float: right;color: #ffffff;">新增二级分类</a>
                    </div>
                    <div class="panel-body table-responsive">

                        <table id="example0" class="table display table-bordered">
                            <thead>
                            <tr>
                                <th>序号</th>
                                <th>分类封面</th>
                                <th>分类名称</th>
                                <th>所属一级分类</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tfoot>
                            <tr>
                                <th>序号</th>
                                <th>分类封面</th>
                                <th>分类名称</th>
                                <th>所属一级分类</th>
                                <th>操作</th>
                            </tr>
                            </tfoot>
                            <tbody>
                            <tr th:each="item,status:${list.data}">
                                <td>
                                    <span class="label" th:style="'background-color:'+${item.fBg}+';color:'+${item.fColor}+';'" th:text="${status.index+1}"></span>
                                </td>
                                <td>
                                    <img style="height: 60px;" th:src="(${fileServerPath})+${item.fCover}" alt="cover">
                                </td>
                                <td th:text="${item.fName}"></td>
                                <td th:text="${item.classifyOne.fName}"></td>
                                <td>
                                    <a th:href="@{/manage/claTwo/editor/}+${item.fId}" th:data-id="${item.fId}"
                                       class="btn btn-default">
                                        <i class="fa fa-edit"></i>
                                        编辑
                                    </a>
                                    <a href="javascript:;" th:data-id="${item.fId}" class="btn btn-danger deleteInfo">
                                        <i class="fa fa-close"></i>
                                        删除
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="~{admin/common/nav::copyright}"></div>
</div>
<div th:replace="~{admin/common/nav::tabpanel}"></div>
<div th:replace="~{admin/common/commonFooter::onloadJs}"></div>
</body>
<script th:src="@{/src/js/classifyTwo/list.js}"></script>
</html>