<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
<div th:fragment="common_nav">
    <div class="header">
        <div class="layui-main header-middle">
            <div class="mylayui-div-inline-block">
                <a href="/" class="logo"><img th:src="@{/src/images/merchant/logo-dark-smile.png}" alt=""> </a>
            </div>
            <div class="mylayui-div-inline-block mylayui-div-control">
                <ul class="layui-nav mylayui-bg-recipe-yellow-dark mylayui-head-nav">
                    <li class="layui-nav-item mylayui-nav-item"><a href="javascript:;" class="mylayui-nav-a">我的订单<span
                            class="layui-badge layui-bg-cyan">99+</span></a></li>
                    <li class="layui-nav-item mylayui-nav-item">
                        <a href="javascript:;" class="mylayui-nav-a"><span
                            class="layui-icon layui-icon-cellphone"></span>下载手机端</a>
                        <dl class="layui-nav-child">
                            <dd>
                                <img th:src="@{/src/images/merchant/QR_code_app.png}" alt="商家APP二维码" style="height: 150px;">
                            </dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item mylayui-nav-item"><a href=""><img th:src="${session.merUser.FCover}"
                                                                                class=" layui-nav-img">[[${session.merUser.FShopname}]]</a>
                        <dl class="layui-nav-child">
                            <dd>
                                <a href="javascript:;">修改信息</a>
                            </dd>
                            <dd>
                                <a href="javascript:;">安全管理</a>
                            </dd>
                            <dd>
                                <a href="/merchant/merchantUser/merchantLogout">退了</a>
                            </dd>
                        </dl>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="top-nav">
        <div class="layui-main mylayui-main">
            <div class="top-nav-middle">
                <ul class="layui-nav mylayui-bg-recipe-yellow mylayui-top-nav" lay-filter="">
                    <li class="layui-nav-item mylayui-nav-item"><a th:href="@{/merchant/merchantUser/index}"
                                                                   class="mylayui-nav-a">首页</a></li>
                    <span style="vertical-align: middle;color: black;">|</span>
                    <li class="layui-nav-item mylayui-nav-item"><a href="javascript:;" class="mylayui-nav-a"><i
                            class="layui-icon layui-icon-align-left"></i> 商品列表</a>
                        <dl class="layui-nav-child">
                            <dd>
                                <a href="/merchant/merchantProduct/goProductAdd">添加商品</a>
                            </dd>
                            <dd>
                                <a href="/merchant/merchantProduct/goProductList">所有商品</a>
                            </dd>
                            <dd>
                                <a href="">售中商品</a>
                            </dd>
                        </dl>
                    </li>
                    <span style="vertical-align: middle;color: black;">|</span>
                    <li class="layui-nav-item mylayui-nav-item"><a href="javascript:;" class="mylayui-nav-a"><i
                            class="layui-icon layui-icon-form"></i> 订单管理</a>
                        <dl class="layui-nav-child">
                            <dd>
                                <a href="">所有订单</a>
                            </dd>
                            <dd>
                                <a href="">待付款订单</a>
                            </dd>
                            <dd>
                                <a href="">待发货订单</a>
                            </dd>
                            <dd>
                                <a href="">待收货订单</a>
                            </dd>
                            <dd>
                                <a href="">待评价订单</a>
                            </dd>
                            <dd>
                                <a href="">交易成功订单</a>
                            </dd>
                            <dd>
                                <a href="">退款中订单</a>
                            </dd>
                            <dd>
                                <a href="">退款成功订单</a>
                            </dd>
                        </dl>
                    </li>
                    <span style="vertical-align: middle;color: black;">|</span>
                    <li class="layui-nav-item mylayui-nav-item"><a href="javascript:;" class="mylayui-nav-a"><i
                            class="iconfont icon-banshou"></i> 店铺装修</a>
                        <dl class="layui-nav-child">
                            <dd>
                                <a href="">分类管理</a>
                            </dd>
                            <dd>
                                <a href="">运费模板</a>
                            </dd>
                        </dl>
                    </li>
                    <div class="mylayui-div-control">
                        <form class="layui-form mylayui-from-search" action="">
                            <div class="mylayui-form-div">
                                <label class="mylayui-form-label">搜索商品</label>
                                <div class="mylayui-div-control">
                                    <input type="text" name="title" required lay-verify="required" placeholder="请输入标题"
                                           autocomplete="off" class="layui-input">
                                </div>
                            </div>
                            <div class="mylayui-form-div">
                                <div class="mylayui-div-control">
                                    <button class="layui-btn btn-search" lay-submit lay-filter=""><i
                                            class="layui-icon layui-icon-search"></i></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </ul>
            </div>
        </div>
    </div>
</div>
</body>
</html>