html,
body,
div,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
dl,
dt,
dd,
ol,
form,
input,
textarea,
th,
td,
select {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    font-family: "Microsoft YaHei";
    font-size: 14px;
    color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

ul,
ol {
    list-style: none;
}

img {
    border: none;
    vertical-align: middle;
}

a {
    text-decoration: none;
    color: #232323;
}

table {
    border-collapse: collapse;
    table-layout: fixed;
}

input,
textarea {
    outline: none;
    border: none;
}

textarea {
    resize: none;
    overflow: auto;
}

div.clear-float {
    clear: both;
}

/* layui默认样式 */
/* 下拉选择框的子项目颜色 */
.layui-form-select dl dd.layui-this {
    background-color: #000000;
}

.container {
    background-color: #FFFFFF;
    min-height: 100%;
}

.header {
    height: 50px;
    background-color: #FFB20F;
}

.logo {
    display: inline-block;
    width: 235px;
    height: 50px;
    line-height: 50px;
    text-align: center;
}

.logo img {
    border: 0px none;
    width: 100%;
    height: 100%;
}

.mylayui-div-inline-block {
    display: inline-block;
    vertical-align: bottom;
}

.mylayui-bg-recipe-yellow {
    background-color: #FFD151;
}

.mylayui-bg-recipe-yellow-dark {
    background-color: #FFB20F;
}

.header-middle .mylayui-div-control {
    float: right;
}

.mylayui-head-nav .mylayui-nav-item {
    line-height: 50px;
    margin-right: 10px;
}

.mylayui-head-nav .mylayui-nav-item a {
    color: rgba(7, 7, 7, 0.65);
}

.mylayui-head-nav .mylayui-nav-item a > .layui-nav-more {
    border-color: #070707 transparent transparent;
}

.mylayui-head-nav .mylayui-nav-item a > .layui-nav-mored {
    border-color: transparent transparent #070707;
}

.mylayui-head-nav .layui-this::after,
.mylayui-head-nav .layui-nav-bar {
    height: 0px;
}

.mylayui-head-nav .layui-nav-child {
    background-color: #FBFFFE;
    min-width: 100%;
    top: 53px;
}

.mylayui-head-nav .layui-nav-child a:hover {
    background-color: #FFB20F;
}

.mylayui-head-nav .mylayui-nav-item a:hover {
    color: #070707;
}

/* 第二个导航栏样式 */
.top-nav {
    position: fixed;
    z-index: 99;
    width: 100%;
    background-color: #FFD151;
}

.top-nav-middle {
    width: 1000px;
    margin: 0 auto;
}

.top-nav .mylayui-nav-item a {
    color: #1A090D;
}

.mylayui-top-nav > .mylayui-div-control {
    display: inline-block;
    vertical-align: bottom;
}

.mylayui-top-nav .layui-this::after,
.mylayui-top-nav .layui-nav-bar {
    background-color: #070707;
}

.mylayui-top-nav .layui-nav-child a:hover {
    background-color: #FFB20F;
}

.mylayui-div-control .mylayui-form-label {
    width: 100px;
}

.mylayui-from-search {
    float: left;
    margin-left: 230px;
}

.mylayui-from-search .mylayui-form-div {
    display: inline-block;
}

.mylayui-form-div {
    height: 60px;
    line-height: 60px;
}

.mylayui-div-control .layui-input {
    display: inline-block;
    height: 30px;
}

.mylayui-form-div > .mylayui-div-control {
    display: inline-block;
    vertical-align: bottom;
    height: 60px;
    line-height: 60px;
}

.mylayui-form-label {
    color: #070707;
}

.btn-search {
    height: 30px;
    line-height: 30px;
    background-color: #1A090D;
}

.mylayui-top-nav .mylayui-nav-item a > .layui-nav-more {
    border-color: #070707 transparent transparent;
}

.mylayui-top-nav .mylayui-nav-item a > .layui-nav-mored {
    border-color: transparent transparent #070707;
}

.mylayui-top-nav .mylayui-nav-item a:hover > .layui-nav-more {
    border-color: #FFF transparent transparent;
}

.mylayui-top-nav .mylayui-nav-item a:hover > .layui-nav-mored {
    border-color: transparent transparent #FFF;
}

/* 页面主区域*/
#edit-content {
    /*此处要大于61 因为上一导航条高度为61*/
    margin-top: 101px;
}

/*修改商品主图删除按钮样式*/
/*商品主图 样式*/
#editimg-btn {
    position: relative;
    display: inline-block;
    width: 90px;
    height: 90px;
    border: 1px dashed #dddddd;
}

#editimg-btn span {

}

.editimg {
    display: inline-block;
    position: relative;
    margin: 5px;
}

.editimg > .imgs > a {
    position: absolute;
    display: inline-block;
    width: 10px;
    height: 10px;
    line-height: 10px;
    right: 3px;
    top: 5px;
    background-color: transparent;
}

/*商品名称*/
.product-name {
    padding: 15px;
    height: 80px;
}

.product-title > .layui-input-block > p {
    color: #999999;
    position: absolute;
    bottom: 5px;
    right: 8px;
}

/*商品类型面板样式*/
.product-card {
    border: 1px solid #dddddd;
}

.product-card .product-div-model-title {
    padding-top: 10px;
    height: 100px;
    position: relative;
    background-color: #f1f1f1;
}

.product-card .layui-card-body {
    min-height: 150px;
}

.product_marque_title {
    background-color: #f1f1f1;
}

.product_marque_title span {
    text-align: center;
    width: 180px;
    display: inline-block;
}

.product_marque_item {
    width: 180px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
}

.upload_img {
    position: relative;
    width: 80px;
    height: 80px;
    margin: 0 auto;
    border: 1px dashed #dddddd;
}

.upload_img span {
    color: #d3d3d3;
    font-size: 25px;
    left: 50%;
    top: 50%;
    margin-left: -12.5px;
    margin-top: -12.5px;
}

.upload_img:hover {
    border: 1px dashed #a9a9a9;
}

.upload_img:hover span {
    color: #a9a9a9;
}

.upload_img_ops {
    display: none;
    position: absolute;
    text-align: center;
    top: 0px;
    left: 50px;
    width: 80px;
    height: 80px;
    line-height: 80px;
    background-color: rgba(0,0,0,0.7);
    z-index: 11;
    opacity: 0;
    transition: all linear 0.3s;
}
.upload_img_ops:hover{
    opacity: 1;
}

.upload_img_ops a:hover {
    text-decoration: underline;
}

#showModel {
    box-sizing: content-box;
    min-height: 150px;
    padding: 10px;
}

/* 运费及其他设计 */

.cell-time .layui-form-radio > i:hover, .layui-form-radioed > i {
    color: #000000;
}

.other-set-div > .layui-form-checked[lay-skin=primary] i {
    border-color: #000000;
    background-color: #000000;
    color: #fff;
}

.other-set-div > .layui-form-checkbox[lay-skin=primary]:hover i {
    border-color: #000000;
}

/* 商品详情 */
.pro_details{
    border: 1px solid #dddddd;
}
.pro_details .layui-card-header{
    height: 50px;
    background-color: #f1f1f1;
    line-height: 50px;
    position: relative;
}
.pro_details .layui-card-header i{
    background-color: #000000;
    border-radius: 50%;
    text-align: center;
    line-height: 25px;
    width: 25px;
    position: absolute;
    right: 15px;
    top: 10px;
    color: #ffffff;
    font-weight: bolder;
    font-size: 18px;
    opacity: 0;
    transition: all 0.5s linear;
}
.pro_details .layui-card-header:hover i{
    opacity: 1;
}

.pro_details_image .upload-img-preview{
    width: 222px;
    height: 222px;
    border: 1px dashed #dddddd;
    margin-bottom: 30px;
    cursor: pointer;
    position: relative;
}

.pro_details_image .upload-ops{
    display: none;
    transition: all linear 0.3s;
    width: 222px;
    height: 222px;
    position: absolute;
    top: 45px;
    left: 17px;
    background-color: rgba(0, 0, 0, .5);
    z-index: 10;
    opacity: 0;
}
.pro_details_image .upload-ops a{
    color: #ffffff;
    line-height: 222px;
    display: block;
    width: 222px;
    text-align: center;
}

div.footer {
    margin-top: 30px;
}

div.foot-link {
    padding: 20px;
    text-align: center;
}

div.foot-link > ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
}

div.foot-link > ul > li {
    display: inline-block;
}

div.foot-link > ul > i {
    color: #999999;
}

div.foot-link > ul > li > a {
    color: #999999;
}

div.foot-link > ul > li > a:hover {
    color: #ff1f5a;
    text-decoration: underline;
}