<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:include="~{merchant/common/commonHeader::header('Recipe Merchant',~{::link})}">
    <link rel="stylesheet" th:href="@{/src/css/merchant/index.css}">
</head>
<body>
    <div class="container">
        <div th:replace="~{merchant/common/commonNav::common_nav}"></div>
        <div class="main">
            <div class="layui-main mylayui-main">
                <div class="merchant-info">
                    <div class="layui-card">
                        <div class="layui-card-header"><i class="layui-icon layui-icon-app"></i> 商品</div>
                        <div class="layui-card-body">
                            <div class="info-num" style="background-color: #009688">
                                <span>0</span>
                            </div>
                            <div class="info-msg" style="padding: 0px;">
                                售中商品：<span>0</span><br>
                                售中商品：<span>0</span><br>
                                售中商品：<span>0</span>
                            </div>
                        </div>
                    </div>
                    <div class="layui-card">
                        <div class="layui-card-header"><i class="layui-icon layui-icon-ok"></i> 待处理订单</div>
                        <div class="layui-card-body">
                            <div class="info-num" style="background-color: #5FB878">
                                <span>0</span>
                            </div>
                            <div class="info-msg" style="padding: 0px;">
                                待发货：<span>0</span><br>
                                待收货：<span>0</span><br>
                                退款中：<span>0</span>
                            </div>
                        </div>
                    </div>
                    <div class="layui-card">
                        <div class="layui-card-header"><i class="layui-icon layui-icon-rmb"></i> 交易额</div>
                        <div class="layui-card-body">
                            <div class="info-num" style="background-color: #393D49; color: #FFFFFF; font-size: 20px;">
                                ￥<span>1w</span>
                            </div>
                            <div class="info-msg" style="padding: 0px;">
                                已到账：<span>0</span><br>
                                未到账：<span>0</span><br>
                                已退款：<span>0</span>
                            </div>
                        </div>
                    </div>
                    <div class="layui-card">
                        <div class="layui-card-header"><i class="layui-icon layui-icon-speaker"></i> 消息</div>
                        <div class="layui-card-body">
                            <div class="info-num" style="background-color: #1E9FFF">
                                <span>0</span>
                            </div>
                            <div class="info-msg" style="padding: 0px;">
                                好评：<span >0</span><br>
                                中评：<span>0</span><br>
                                 差评：<span>0</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="project-by-mark">
                    <fieldset class="layui-elem-field layui-field-title">
                        <legend>收藏多得商品</legend>
                        <div class="layui-field-box layui-row layui-col-space10">
                            <div class="layui-col-md3">
                                <div class="layui-card">
                                    <div class="layui-card-img">
                                        <a href=""><img src="./images/timg.jpg" alt=""></a>
                                    </div>
                                    <div class="layui-card-header"><a href="">卡片面板</a></div>
                                    <div class="layui-card-body">
                                        卡片式面板面板通常用于非白色背景色的主体内<br>
                                        从而映衬出边框投影
                                    </div>
                                </div>
                            </div>
                            <div class="layui-col-md3">
                                <div class="layui-card">
                                    <div class="layui-card-img">
                                        <a href=""><img src="./images/timg.jpg" alt=""></a>
                                    </div>
                                    <div class="layui-card-header"><a href="">卡片面板</a></div>
                                    <div class="layui-card-body">
                                        卡片式面板面板通常用于非白色背景色的主体内<br>
                                        从而映衬出边框投影
                                    </div>
                                </div>
                            </div>
                            <div class="layui-col-md3">
                                <div class="layui-card">
                                    <div class="layui-card-img">
                                        <a href=""><img src="./images/timg.jpg" alt=""></a>
                                    </div>
                                    <div class="layui-card-header"><a href="">卡片面板</a></div>
                                    <div class="layui-card-body">
                                        卡片式面板面板通常用于非白色背景色的主体内<br>
                                        从而映衬出边框投影
                                    </div>
                                </div>
                            </div>
                            <div class="layui-col-md3">
                                <div class="layui-card">
                                    <div class="layui-card-img">
                                        <a href=""><img src="./images/timg.jpg" alt=""></a>
                                    </div>
                                    <div class="layui-card-header"><a href="">卡片面板</a></div>
                                    <div class="layui-card-body">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>

        <div th:replace="~{merchant/common/commonFooter::onloadJs(~{::script},true)}">
            <script th:src="@{/src/js/merchant/index.js}"></script>
        </div>
    </div>
</body>
</html>