<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:include="~{merchant/common/commonHeader::header('Recipe Merchant',~{::link})}">
    <link rel="stylesheet" th:href="@{/src/css/merchant/index.css}">
</head>
<body>
    <div class="container">
        <div th:replace="~{merchant/common/commonNav::common_nav}"></div>
        <div class="main">
            <div class="layui-main mylayui-main">
                <div class="merchant-info">
                    <div class="layui-card">
                        <div class="layui-card-header"><i class="layui-icon layui-icon-app"></i> 商品</div>
                        <div class="layui-card-body">
                            <div class="info-num" style="background-color: #009688">
                                <span id="productCount">0</span>
                            </div>
                        </div>
                    </div>
                    <div class="layui-card">
                        <div class="layui-card-header"><i class="layui-icon layui-icon-ok"></i> 订单数</div>
                        <div class="layui-card-body">
                            <div class="info-num" style="background-color: #5FB878">
                                <span id="orderCount">0</span>
                            </div>
                        </div>
                    </div>
                    <div class="layui-card">
                        <div class="layui-card-header"><i class="layui-icon layui-icon-rmb"></i> 交易额</div>
                        <div class="layui-card-body">
                            <div class="info-num" style="background-color: #393D49; color: #FFFFFF; font-size: 20px;width: auto">
                                ￥<span id="money"></span>
                            </div>
                        </div>
                    </div>
                    <div class="layui-card">
                        <div class="layui-card-header"><i class="layui-icon layui-icon-speaker"></i> 客户总数</div>
                        <div class="layui-card-body">
                            <div class="info-num" style="background-color: #1E9FFF">
                                <span id="userCount">0</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="project-by-mark">
                    <fieldset class="layui-elem-field layui-field-title">
                        <legend>收藏多得商品</legend>
                        <div class="layui-field-box layui-row layui-col-space10">
                            <div class="layui-col-md3">
                                <div class="layui-card">
                                    <div class="layui-card-img">
                                        <a href=""><img th:src="@{/src/images/merchant/timg.jpg}" alt="" id="pro_img_1"></a>
                                    </div>
                                    <div class="layui-card-header"><a href="" id="pro_name_1">卡片面板</a></div>
                                </div>
                            </div>
                            <div class="layui-col-md3">
                                <div class="layui-card">
                                    <div class="layui-card-img">
                                        <a href=""><img th:src="@{/src/images/merchant/timg.jpg}" alt="" id="pro_img_2"></a>
                                    </div>
                                    <div class="layui-card-header"><a href="" id="pro_name_2">卡片面板</a></div>
                                </div>
                            </div>
                            <div class="layui-col-md3">
                                <div class="layui-card">
                                    <div class="layui-card-img">
                                        <a href=""><img th:src="@{/src/images/merchant/timg.jpg}" alt="" id="pro_img_3"></a>
                                    </div>
                                    <div class="layui-card-header"><a href="" id="pro_name_3">卡片面板</a></div>
                                </div>
                            </div>
                            <div class="layui-col-md3">
                                <div class="layui-card">
                                    <div class="layui-card-img">
                                        <a href=""><img th:src="@{/src/images/merchant/timg.jpg}" alt="" id="pro_img_4"></a>
                                    </div>
                                    <div class="layui-card-header"><a href="" id="pro_name_4">卡片面板</a></div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>

        <div th:replace="~{merchant/common/commonFooter::onloadJs(~{::script},true)}">
            <script th:src="@{/src/js/merchant/index.js}"></script>
        </div>
    </div>
</body>
</html>