<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:include="~{merchant/common/commonHeader::header('Recipe Merchant',~{::link})}">
    <link rel="stylesheet" th:href="@{/src/css/merchant/login.css}">
</head>

<body>
    <div class="container">
        <div class="left-banner">
            <!-- 如果banner背景是图片，此div是为banner添加蒙版 -->
            <div id="masking"></div>
            <div class="banner-logo-div">
                <img th:src="@{/src/images/merchant/logo-dark-02.png}" alt="" id="banner-logo">
                <h2 class="banner-title">商家入驻系统</h2>
            </div>
            <div class="banner-logo-div">
                <img th:src="@{/src/images/merchant/logo-dark-smile.png}" alt="" id="banner-logo-smile">
            </div>
        </div>
        <div class="right-div">
            <div class="right-form-div">
                <div class="project-title">
                    <h1>登录膳食膳房</h1>
                </div>
                <form action="" class="layui-form" method="post">
                    <div class="layui-row layui-form-item">
                        <div class="layui-col-md3">
                            <label class="layui-form-label mylayui-form-label">用户名：</label>
                        </div>
                        <div class="layui-col-md9 mylayui-form-div">
                            <i class="layui-icon layui-icon-username mylayui-input-icon"></i>
                            <input type="text" name="fAccount" id="account" required lay-verify="required" placeholder="手机号/邮箱"
                                autocomplete="off" class="layui-input mylayui-input">
                        </div>
                    </div>
                    <div class="layui-row layui-form-item">
                        <div class="layui-col-md3">
                            <label class="layui-form-label  mylayui-form-label">密码：</label>
                        </div>
                        <div class="layui-col-md9 mylayui-form-div">
                            <i class="layui-icon layui-icon-password mylayui-input-icon"></i>
                            <i class="showpwd iconfont icon-yanjing"></i>
                            <input type="password" name="fPassword" required lay-verify="required" placeholder="请输入密码"
                                autocomplete="off" class="layui-input mylayui-input" id="password">
                        </div>
                    </div>
                    <div class="layui-form-item layui-row">
                        <div class="layui-col-md12 mylayui-form-div">
                            <button class="layui-btn mylayui-btn" lay-submit lay-filter="login">立即登陆</button>
                        </div>
                    </div>
                    <div class="layui-form-item layui-row">
                        <div class="layui-col-md4 layui-col-md-offset8 mylayui-form-a">
                            <a href="/merchant/merchantUser/register">注册</a>
                            <a href="">忘记密码</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div th:replace="~{merchant/common/commonFooter::onloadJs(~{::script},false)}">
            <script th:src="@{/src/js/merchant/login.js}"></script>
        </div>
    </div>
</body>

</html>