<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:include="~{merchant/common/commonHeader::header('Recipe Merchant',~{::link})}">
    <link rel="stylesheet" th:href="@{/src/css/merchant/register.css}">
</head>

<body>
<div class="container">
    <div class="left-banner">
        <!-- 如果banner背景是图片，此div是为banner添加蒙版 -->
        <div id="masking"></div>
        <div class="banner-logo-div">
            <img th:src="@{/src/images/merchant/logo-dark-02.png}" alt="" id="banner-logo">
            <h2 class="banner-title">商家入驻系统</h2>
        </div>
        <div class="banner-logo-div">
            <img th:src="@{/src/images/merchant/logo-dark-smile.png}" alt="" id="banner-logo-smile">
        </div>
    </div>
    <div class="right-div">
        <div class="right-form-div">
            <div class="project-title">
                <h1>入驻膳食膳房</h1>
            </div>
            <form class="layui-form">
                <div class="layui-row layui-form-item">
                    <div class="layui-col-md3">
                        <label class="layui-form-label mylayui-form-label">用户名：</label>
                    </div>
                    <div class="layui-col-md9 mylayui-form-div">
                        <i class="layui-icon layui-icon-username mylayui-input-icon"></i>
                        <input type="text" name="fAccount" id="account" required lay-verify="required|account"
                               placeholder="手机号" autocomplete="off" class="layui-input mylayui-input">
                    </div>
                </div>

                <div class="layui-row layui-form-item">
                    <div class="layui-col-md3">
                        <label class="layui-form-label mylayui-form-label">店铺名：</label>
                    </div>
                    <div class="layui-col-md9 mylayui-form-div">
                        <i class="iconfont icon-dianpumingcheng mylayui-input-icon" style="font-weight: bold"></i>
                        <input type="text" name="fShopname" id="shop_name" required lay-verify="required"
                               placeholder="店铺名称" autocomplete="off" class="layui-input mylayui-input">
                    </div>
                </div>

                <div class="layui-row layui-form-item">
                    <div class="layui-col-md3">
                        <label class="layui-form-label  mylayui-form-label">密码：</label>
                    </div>
                    <div class="layui-col-md9 mylayui-form-div">
                        <i class="layui-icon layui-icon-password mylayui-input-icon"></i>
                        <!-- <i class=" showpwd iconfont icon-normal"></i> -->
                        <input type="password" name="fPassword" required lay-verify="required|password"
                               placeholder="请输入密码"
                               autocomplete="off" class="layui-input mylayui-input" id="password">
                    </div>
                </div>

                <div class="layui-row layui-form-item">
                    <div class="layui-col-md3">
                        <label class="layui-form-label  mylayui-form-label">确认密码：</label>
                    </div>
                    <div class="layui-col-md9 mylayui-form-div">
                        <i class="iconfont icon-querenmima mylayui-input-icon"></i>
                        <!-- <i class="iconfont icon-normal showpwd"></i> -->
                        <input type="password" required lay-verify="required|repassword" placeholder="请确认密码"
                               autocomplete="off"
                               class="layui-input mylayui-input" id="repassword">

                    </div>
                </div>

                <div class="layui-form-item layui-row">
                    <div class="layui-col-md3">
                        <label class="layui-form-label mylayui-form-label">生日：</label>
                    </div>
                    <div class="layui-col-md9">
                        <input type="text" name="fBirth" id="birth" class="layui-input" autocomplete="off"
                               placeholder="请输入您的生日" lay-verify="date">
                    </div>
                </div>

                <div class="layui-form-item layui-row">
                    <div class="layui-col-md3">
                        <label class="layui-form-label mylayui-form-label city">请选择您所在的城市：</label>
                    </div>

                    <div class="layui-col-md3 mylayui-form-select">
                        <select name="fProvince" lay-verify="required" lay-search id="province"
                                lay-filter="provincepick">
                            <option value="">请选择省份</option>
                        </select>
                    </div>

                    <div class="layui-col-md3 mylayui-form-select">
                        <select name="fCity" lay-verify="required" lay-search id="city" lay-filter="citypick">
                            <option value="">请选择城市</option>
                        </select>
                    </div>
                    <!--{"account":"15080557852","shop_name":"膳品","password":"yyhYYH111","birth":"2018-11-12","province":"北京市","city":"北京市","area":"石景山区"}-->
                    <div class="layui-col-md3 mylayui-form-select">
                        <select name="fArea" lay-verify="required" lay-search id="area" lay-filter="areapick">
                            <option value="">请选择地区</option>
                        </select>
                    </div>
                </div>
                <div class="layui-row layui-form-item">
                    <div class="layui-col-md3">
                        <label class="layui-form-label mylayui-form-label city">验证手机：</label>
                    </div>
                    <div class="layui-col-md9">
                        <div style="width: 50%;display: inline-block;">
                            <input type="text" name="" id="phone_number" class="layui-input"
                            placeholder="请输入手机验证码">
                        </div>
                        <div style="width: 45%;display: inline-block;">
                            <button type="button" class="layui-btn layui-btn-primary" id="send_code">发送验证码
                            </button>
                        </div>
                    </div>
                </div>

                <div class="layui-form-item layui-row">
                    <div class="layui-col-md12 mylayui-form-div">
                        <button class="layui-btn mylayui-btn" lay-submit lay-filter="login">立即注册</button>
                    </div>
                </div>
                <div class="layui-form-item layui-row">
                    <div class="layui-col-md4 layui-col-md-offset8 mylayui-form-a">
                        <a href="/merchantCommon/login">已有账号？转去登陆</a>
                    </div>
                </div>

            </form>
        </div>
    </div>
    <div th:replace="~{merchant/common/commonFooter::onloadJs(~{::script},false)}">
        <script th:src="@{/src/js/merchant/register.js}"></script>
    </div>
</div>
</body>

</html>